.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center; /* Center align content */
}

.form-box h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-field {
    margin-bottom: 20px;
}

.input-field input {
    width: calc(100% - 20px);
    padding: 12px;
    border-radius: 5px;
    border: 2px solid #ddd;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input-field input:focus {
    border-color: #007bff;
}

button[type="button"],
button[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="button"]:hover,
button[type="submit"]:hover {
    background-color: #0056b3;
}