*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #dadada;
}
a{
    text-decoration: none;
    color: inherit;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131921;
    color: white;
}
.nav-country{
    display: flex;
    align-items: 15px;
    margin-left: 15px;
    font-size: 13px;
    
}
.nav-country h1{
    color: white;
    font-size: 14px;
}
.nav-search{
    flex: 1;
    display: flex;
    align-items: center;
    background: white;
    color: grey;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}
.nav-search-category{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: lightgrey;
    gap: 5px;
    border-radius: 4px 0 0 4px;
    
}
